JWT_ACCESS_KEY="JWT_ACCESS_KEY"
JWT_ALGORITHM="HS256"
HOST_NAME="mb01"
REDIS_HOST='host_address'
REDIS_PORT=14905
REDIS_USERNAME="default"
REDIS_PASSWORD="YOUR_PASSWORD"
MAX_EXCHANGE_SIZE=10000
MAX_MESSAGE_SIZE=5000
MAX_EXCHANGES=5
MB_WORKERS=1
DB_POLL_INTERVAL=5